<ion-header>
  <ion-toolbar>
    <ion-title>search_exam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
      
        <ion-item>
          <ion-label position="floating">Subject Name</ion-label>
          <ion-input [(ngModel)]="subjectname" name="subjectname" ></ion-input>
        </ion-item>

        <!-- Datetime in popover with cover element -->
        <ion-item button="true" id="open-date-input">
          <ion-label>Date</ion-label>
          <ion-text slot="end">{{ dateValue }}</ion-text>
          <ion-popover trigger="open-date-input" show-backdrop="false">
            <ng-template>
              <ion-datetime
                #popoverDatetime
                presentation="date"
                (ionChange)="dateValue = formatDate(popoverDatetime.value)"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

<!-- Datetime in popover with input -->
<!-- <ion-item>
  <ion-input [value]="dateValue2"></ion-input>
  <ion-button fill="clear" id="open-date-input-2">
    <ion-icon icon="calendar"></ion-icon>
  </ion-button>
  <ion-popover trigger="open-date-input-2" show-backdrop="false">
    <ng-template>
      <ion-datetime
        #popoverDatetime2
        presentation="date"
        (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"
      ></ion-datetime>
    </ng-template>
  </ion-popover>
</ion-item> -->

        <!-- <ion-button id="trigger-button" (click)="getObject()" >Get Object</ion-button>  -->

      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        
      </div>
      <div class="col-sm-3">

      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6" style="text-align: center;">
        <button class="btn btn-success" (click)="closeModal()" >SAVE DATA</button>
      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>

</ion-content>
