<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>search_exam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container mt-3">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <form class="form" #examForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
          <!-- <div class=" form-group">
            <label>Name</label>
            <ion-input type="text" class="form-control" [(ngModel)]="userModal.name" name="name" #name="ngModel" required>
            </ion-input>
            <span class="text-danger" *ngIf="(name.touched || examForm.submitted) && name.errors?.required">
              Name is required
            </span>
          </div> -->
          <div class="form-group">
            <label>Exam Name</label>
            <ion-input type="text" class="form-control" [(ngModel)]="searchExamModel.keyword" name="keyword"
              #keyword="ngModel" required></ion-input>
            <span class="text-danger" *ngIf="(keyword.touched || examForm.submitted) && keyword.errors?.required">
              Exam Name is required
            </span>
            <!-- <span class="text-danger">
              Enter a valid email address
            </span> -->
          </div>
          <div class="form-group">
            <!-- <label>Exam Date From</label> -->
            <!-- <ion-datetime min="1994-03-14"  max="2022-12-09" (ionChange)="datetimecheck()" required></ion-datetime> -->
            <ion-item button="true" id="open-date-input-from">
              <ion-label>Date From</ion-label>
              <ion-text slot="end">{{ dateValue1 }}</ion-text>
              <ion-popover trigger="open-date-input-from" show-backdrop="false">
                <ng-template>
                  <ion-datetime min="1994-03-14" max="2022-12-09" #popoverDate presentation="date"
                    (ionChange)="dateValue1 = formatDateFrom(popoverDate.value)"></ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-item>
            <!-- <span class="text-danger" *ngIf="(examdate.touched || examForm.submitted) && examdate.errors?.required">
              Exam Date is required
            </span> -->
            <!-- <span class="text-danger" >
              User Name not available
            </span> -->
          </div>
          <div class="form-group">
            <ion-item button="true" id="open-date-input-to">
              <ion-label>Date To</ion-label>
              <ion-text slot="end">{{ dateValue2 }}</ion-text>
              <ion-popover trigger="open-date-input-to" show-backdrop="false">
                <ng-template>
                  <ion-datetime min="1994-03-14" max="2022-12-09" #popoverDateTo presentation="date"
                    (ionChange)="dateValue2 = formatDateTo(popoverDateTo.value)"></ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-item>
          </div>
          <div class="form-group">
            <!-- <label>Exam Time</label>
            <ion-input type="time" class="form-control" [(ngModel)]="examModel.examtime" name="examtime" #examtime="ngModel"
               required></ion-input>
            <span class="text-danger" *ngIf="(examtime.touched || examForm.submitted) && examtime.errors?.required">
              Exam Time is required
            </span> -->
            <!-- <span class="text-danger" >
              User Name not available
            </span> -->
          </div>


          <div class="form-group mt-3">
            <button type="submit" class="btn btn-success" [disabled]="!examForm.valid">Search</button>
            <!-- [disabled]="!examForm.valid" -->
          </div>
        </form>
      </div>

      <div class="col-sm-3">

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">

      </div>
      <div class="col-sm-3">

      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6" style="text-align: center;">
        <!-- <button class="btn btn-success" (click)="closeModal()">SAVE DATA</button> -->
      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>

</ion-content>