<!-- <p>
  single-exam-record-object works!
</p> -->


<!-- <p>
  exam-searched-object works!
</p> -->
<div class="container" style="margin-bottom: 20%;">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM ID
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exmd_id}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM SUBJECT NAME
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exmd_subject_name}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM SUBJECT CODE
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exmd_subject_code}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM FULL MARKS
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exmd_full_marks}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM CUT-OFF MARKS
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exmd_cutoff_marks}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <!-- <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-success" (click)="getDetailsExam()">Search</button>
    </div>
    <div class="col-sm-3">

    </div>
  </div> -->
</div>