<!-- <p>
  exam-searched-object works!
</p> -->
<div class="container" style="margin-bottom: 20%;">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM NAME
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exm_id}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM DATE
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exm_date}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM ID
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exm_id}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <ion-item>
        <ion-label class="ion-text-wrap">
          EXAM TIME
        </ion-label>
        <ion-text color="primary">
          <h2>{{searchedObject.exm_time}}</h2>
        </ion-text>
      </ion-item>
    </div>
    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-success" (click)="getDetailsExam()">Search</button>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
</div>