<ion-header>
  <ion-toolbar>
    <ion-title>form-output-data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <ion-item>
          <ion-label class="ion-text-wrap">
            USERNAME
          </ion-label>
          <ion-text color="primary">
            <h2 *ngIf="obj">{{obj.username}}</h2>
          </ion-text>
        </ion-item>
      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <ion-item>
          <ion-label class="ion-text-wrap">
            COLOR
          </ion-label>
          <ion-text color="primary">
            <h2 *ngIf="obj">{{obj.color}}</h2>
          </ion-text>
        </ion-item>
      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <ion-item>
          <ion-label class="ion-text-wrap">
            MODEL
          </ion-label>
          <ion-text color="primary">
            <h2 *ngIf="obj">{{obj.model}}</h2>
          </ion-text>
        </ion-item>
      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <ion-item>
          <ion-label class="ion-text-wrap">
            PRICE
          </ion-label>
          <ion-text color="primary">
            <h2 *ngIf="obj">{{obj.price}}</h2>
          </ion-text>
        </ion-item>
      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>
  

</ion-content>
