<!-- my-modal.page.html -->
<ion-header>
  <ion-toolbar color="danger">
    <ion-title>my-modal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        ID : {{modelId}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="closeModal()">Close Modal</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="setObject()">Set Object</ion-button>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col text-center>
        <ion-button (click)="addNewItem()">Check @OUTPUT</ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-list>
    <ion-radio-group [(ngModel)]="selectModel" (ionChange)="onChangeModel()">
      <ion-list-header>
        <ion-label>Name</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Model 1</ion-label>
        <ion-radio slot="start" value="m1"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Model 2</ion-label>
        <ion-radio slot="start" value="m2"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Model 3</ion-label>
        <ion-radio slot="start" value="m3"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <!-- Default Progressbar -->
    <!-- <ion-progress-bar></ion-progress-bar> -->

    <!-- Colorize Progressbar -->
    <!-- <ion-progress-bar color="primary" value="0.5"></ion-progress-bar> -->

    <ion-progress-bar type="indeterminate"></ion-progress-bar>

  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Multiple Selection
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Pricing</ion-label>
      <ion-select [(ngModel)]="selectPrice" multiple="true" cancelText="Nah" okText="Okay!"
        (ionChange)="onChangePrice()">
        <ion-select-option value="p1">Price 1</ion-select-option>
        <ion-select-option value="p2">Price 2</ion-select-option>
        <ion-select-option value="p3">Price 3</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>