<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <div class="form-group" #f="ngForm">
      <ion-item>
        <ion-label>E-Mail</ion-label>
        <ion-input type="email" placeholder="nom@exemple.fr" #email="ngModel" ngModel name="email" required>
        </ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <button [disabled]="loginForm.invalid" ion-button type="submit" full round>Connexion</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
    <form class="form" #registerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class=" form-group">
        <label>Name</label>
        <ion-input type="text" class="form-control" [(ngModel)]="userModal.name" name="name" #name="ngModel" required></ion-input>
        <span class="text-danger" *ngIf="(name.touched || registerForm.submitted) && name.errors?.required">
          Name is required
        </span>
      </div>
      <div class="form-group">
        <label>Email</label>
        <ion-input type="text" class="form-control" [(ngModel)]="userModal.email"  name="email" #email="ngModel" required
          email></ion-input>
        <span class="text-danger" *ngIf="(email.touched || registerForm.submitted) && email.errors?.required">
          Email is required
        </span>
        <!-- <span class="text-danger">
          Enter a valid email address
        </span> -->
      </div>
      <div class="form-group">
        <label>User Name</label>
        <ion-input type="text" class="form-control" [(ngModel)]="userModal.username" name="username" #username="ngModel"
          appValidateUserName required></ion-input>
        <span class="text-danger" *ngIf="(username.touched || registerForm.submitted) && username.errors?.required">
          User Name is required
        </span>
        <!-- <span class="text-danger" >
          User Name not available
        </span> -->
      </div>
      <div class="form-group">
        <label>Password</label>
        <ion-input type="password" class="form-control" [(ngModel)]="userModal.password" name="password" #password="ngModel"
          appPasswordPattern required></ion-input>
        <span class="text-danger" *ngIf="(password.touched || registerForm.submitted) && password.errors?.required">
          Password is required
        </span>
        <!-- <span class="text-danger">
          Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
          letter and 1 number
        </span> -->
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <ion-input type="password" class="form-control" name="confirmPassword" [(ngModel)]="userModal.confirmPassword"
          #confirmPassword="ngModel" required></ion-input>
        <span class="text-danger" *ngIf="(confirmPassword.touched || registerForm.submitted) && confirmPassword.errors?.required">
          Confirm Password is required
        </span>
        <!-- <span class="text-danger">
          Passwords doesnot match
        </span> -->
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>

    <p>
      The condition is currently
      <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
      
    </p>
    <button
        type="button"
        class="btn btn-success"
        (click)="condition = !condition"
        [ngClass] = "{ 'a': condition, 'b': !condition }" >
        Toggle condition to {{condition ? 'false' : 'true'}}
      </button>
  </div>
</ion-content>